.experiences {
  font-size: 0.95rem; // Reduz fonte geral da seção

  h2 {
    font-size: 1.5rem;
  }

  .company-link {
    color: #ea580c;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 0.25rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .tech-badge {
    background-color: #111;
    color: #ea580c; // sempre laranja
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.2s ease;

    &:hover {
      border-color: #ea580c;
      background-color: #1c1c1c;
    }
  }

  .col-md-4 span {
    font-size: 0.85rem;
    color: #cbd5e1;
  }

  h5 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }
}