.header {
  h1 {
    background-image: linear-gradient(to right, #ea580c, #9a3412);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    cursor: pointer;

    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
  }

  .icon-white {
    color: white;

    &:hover {
      color: #ea580c;
    }
  }
}

.custom-dropdown {
  background: #1f1f27;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0.25rem 0;
  .dropdown-item {
    color: #fff;
    font-size: 0.875rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
  .activeLang {
    color: #ea580c;
    font-weight: 500;
  }
  .check {
    font-size: 0.8rem;
  }
}